<html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <title>
    
      Contax
    
  </title>
<style type="text/css">
  .container
  {
    position: absolute;
    right: 0%;
  }
</style>
<header>
  <div class="container">
    


  <ul class="nav justify-content-end">
   <li class="nav-item">
<button onclick="window.location.href='/register/'">
  Add
</button>
</li>
</ul>
</div>
</header>

<style type="text/css">
  .container-fluid
  {
    position: absolute;
    left: 28%;
  

  }
  h1
  {
    font-size: 200px;

  }
</style>

<body>


  <h1 style="text-align: center;" >
    SEARCH
  </h1>
  <div class="container-fluid">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li><b>{{ message }}</b></li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  
    <br>

    {% from "_formhelpers.html" import render_field %}
    <form method="POST" action="/search/">
      <dl>
        {{ form.csrf_token }}
        {{render_field(form.Value)}}
        <b>Category:</b>
        {% for subfield in form.Category %}

            <tr>
                <td>{{ subfield }}</td>
                <td>{{ subfield.label }}</td>
            </tr>
        {% endfor %}
        
      </dl>
      <p><input type=submit value=Go></p>
    </form>
    
    {% if error %}
      <p class="error"><strong>Error:</strong>{{error}}</p>
    {% endif %}

  

</div>














</body>


























</html>
